body {
	color: #ffffff;
	background-image: url('../../assets/img/fondo.jpg');
	background-size: cover;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-hidden {
	display: none;
}

.form-visible {
	display: block;
}

.container {
    width: 100%; /* Cambiado al 100% para abarcar todo el ancho del viewport */
    max-width: 900px; /* Ajusta según tus necesidades */
    height: 1000px;
    background-image: url('../../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    filter: brightness(1.5);
    margin: 10% auto;
    overflow: hidden;
    position: relative;
}

h3 {
	margin-top: 0; 
   
	text-align: center;
	margin-bottom: 10px;
}

.container form {
    width: 700px;
    position: relative;
    left: 40%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    transition: 1s;
}

form input {
    width: calc(60% - 10px); /* Cambiado para incluir márgenes */
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #999;
    outline: none;
    background: transparent;
    border-radius: 100px;
	color:white;
}

.btn-box {
    position: fixed;
    bottom: -50px; /* Ajusta según tu preferencia */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Asegura que estén por encima de otros elementos */
}

form button {
	width: 110px;
	height: 35px;
	border-radius: 50px;
	margin: 0 10px;
	background: linear-gradient(to right, #DFA3FF, #B429FF);
	color: white;
	border: 0;
	outline: none;
	cursor: pointer;
}

.form-step {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.form-step.active {
	display: block;
}

.step-row {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 -1px 5px -1px rgb(59, 28, 28);
	position: relative;
}

.step-col {
	flex: 10;
	text-align: center;
	position: relative;
	width: calc(100% / 13); /* Ajusta según el número de pasos */
	
}

#progress {
	position: absolute;
	width: 100px;
	height: 100px;
	background: linear-gradient(to right, #DFA3FF, #BA29FF);
	transition: left 1s;
}

#progress::after {
	content: '';
	height: 0;
	width: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	right: -20px;
	top: 0;
}

#progress-bar {
	position: absolute;
	bottom: 20px; /* Ajuste para reducir el tamaño desde abajo */
    top: 50%;
	left: 0;
	height: 16px;
	background-color: #8AFF8A;
	width: 0;
	transition: width 0.3s ease;
	border-radius: 10px; /* Redondea las esquinas */
}

/* Estilo opcional para los números de los pasos */
.step-col small {
	font-size: 15px;
    color: #333;
    position: absolute;
    bottom: -20px; /* Ajusta según la posición deseada */
    left: 50%;
    transform: translateX(-50%);
	color: #ffffff; /* Color blanco para el texto del paso */
}

label {
    display: flex;
	justify-content: space-between; /* Cambiado a columna para manejar textos más largos */
    align-items: center; /* Alinea el texto a la izquierda */
    margin-bottom: 20px;
}

.checkbox-custom {
    width: 20px;
    height: 20px;
    background-color: #fef6cd;
    border-radius: 5px;
    margin-left: 30px;
	margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
	display: inline-flex; /* Cambiado a inline-flex */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Alinea los elementos en el centro horizontalmente */
}


.checkbox-custom input {
    opacity: 0;
    width: 100%; /* Cambiado al 100% para cubrir todo el contenedor */
    height: 100%;
    position: absolute;
    
    cursor: pointer;
}

.checkbox-custom input:checked + .checkmark::before {
    content: '\2713';
    color: #ff0000;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajuste para centrar vertical y horizontalmente */
}

.checkbox-custom .checkmark {
    position: relative;
    font-size: 12px;
    color: #6d1111;
}

.number-input-custom {
	width: 60px; /* Ajusta el ancho según tu preferencia */
	position: relative;
	margin-left: 10px;
}

.number-input-custom input {
	width: 100%;
	padding: 5px;
	border: 3px solid #999;
	border-radius: 5px;
	outline: none;
	color: white;
}


